<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <welcome-file-list>
        <welcome-file>FileCloud.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>authService</servlet-name>
        <servlet-class>com.xiaoerge.filecloud.server.AuthServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shellService</servlet-name>
        <servlet-class>com.xiaoerge.filecloud.server.ShellServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authService</servlet-name>
        <url-pattern>/filecloud/authservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shellService</servlet-name>
        <url-pattern>/filecloud/shellservice</url-pattern>
    </servlet-mapping>
</web-app>
